<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<form th:action="@{/authenticate}" method="POST">
    <table align="center">
    	<tr><td><p th:text="${errorMessage}"></p></td></tr>
        <tr>
            <td>ログインID：</td>
            <td><input type="text" id="login_id" name="login_id"/></td>
        </tr>
        <tr>
            <td>パスワード：</td>
            <td><input type="password" id="password" name="password"/></td>
        </tr>
        <tr>
            <td></td>
            <td align="right"><button type="submit">ログイン</button></td>
        </tr>
    </table>
</form>

<form th:action="@{/member/register}" method="POST">
-- メンバー登録　仮フォーム --<br>
ログインID：<input type="text" id="login_id" name="login_id"/><br>
パスワード<input type="password" id="password" name="password"/><br>
表示用氏名<input type="text" id="nickname" name="nickname"/><br>
<button type="submit">会員新規登録</button>
<p th:text="${message}"></p>
</form>

</body>
</html>